* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}
.header {
    padding: 20px 0;
}
.headerbox {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.logo {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
}
.menu {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    flex: 1;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700
}
.button {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: 120px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700
}
.box1 {
    padding: 83px 0;
    display: flex;
    justify-content: center;
    background-color: #F1F1F1;
    width: 100%;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.content {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: calc((100% - 30px) / 2);
    height: 267px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
}
.image {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: calc((100% - 30px) / 2);
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700
}
.box2 {
    padding: 80px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.title {
    width: 100%;
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: serif;
    font-weight: 700; 
}
.box2-item {
    max-width: 1200px;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.item {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: calc((100% - 2*30px) / 3);
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
}
.box3 {
    padding: 83px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    background-color: #F1F1F1;
}
.item3 {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: calc((100% - 4*30px) / 5);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
}
.box4 {
    padding: 83px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.item4 {
    background-color: #e2e2e2;
    text-align: center;
    border-radius: 8px;
    width: calc((100% - 3*30px) / 4);
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 700;
}
.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 25px 0 25px 0;
    font-family: sans-serif;
    font-weight: 700;
    background-color: #F1F1F1;
    padding: 0%;
    margin: 0%;
}